# Ignore all files by default
/*

# Whitelist of directories to track

!/README.md
!/.gitignore

# Allow directories under ~/.config to be tracked
!/.config
/.config/*

# NeoMutt
!/.mutt

# Rofi
!/.config/rofi

# Kitty
!/.config/kitty

# Neofetch
!/.config/neofetch

# Neovim
!/.config/nvim
.config/nvim/.undodir

# Ignore certain files in the directories we whitelisted
/.mutt/cache
/.mutt/certificates
