# Ignore all files by default
/*

# Whitelist of directories to track

!/README.md
!/.gitignore

# Allow directories under ~/.config to be tracked
!/.config
/.config/*

# Binaries we want to share between systems
!/.config/bin

# NeoMutt
!/.mutt

# Rofi
!/.config/rofi

# Kitty
!/.config/kitty
# `kitten` generates backups we don't need since we use git
/.config/kitty/kitty.conf.bak

# Wezterm
!/.config/wezterm

# Neofetch
!/.config/neofetch

# Neovim
!/.config/nvim
.config/nvim/.undodir
.config/nvim/plugin/packer_compiled.lua

# Shell configurations
!/.config/shells

# Starship
!/.config/starship.toml

# Ignore certain files in the directories we whitelisted
/.mutt/cache
/.mutt/certificates
